    <h2>INFO page - here you are!</h2>
    <p>
    Date: {{date}}
    <p>
    System:
    <br>
    {{system}}

    <p>
    System2:
    <!-- we need 3 brackets so it leaves html markup alone -->
    <pre>
    {{{system2}}}
    </pre>
