
<h3>Add a New Trip</h3>
<p>Enter the following information.</p>

<form method='post' action='addTrip'>

<p><input type='text' name='date'> Trip Date(yyyy-mm-dd)</p>
<p><input type='text' name='miles'> Enter Round-Trip Miles </p>
<p><input type='text' name='gallons'> Enter Total Gallons </p>

Select Destination City<select name='city'>
  <option value='Chicago'>Chicago</option>
  <option value='Cincinnati'>Cincinnati</option>
  <option value='Nashville'>Nashville</option>
  <option value='Indianapolis'>Indianapolis</option>
</select>
<p><input type='submit'></p>
</form>

