<!-- called by get by city link in nav bar -->
<h3>Get Trips by City</h3>
<p>What the heck are we trying to do?</p>

<form method='post' action='/getByCity'>
Select Destination City 
<select name='city'>
	<option value='Chicago'>Chicago</option>
	<option value='Cincinnati'>Cincinnati</option>	
	<option value='Nashville'>Nashville</option>
	<option value='Indianapolis'>Indianapolis</option>	
</select>    
    <p><input type='submit'></p>
 </form>



